<% if notice != nil %>
  <div class="alert alert-danger mtop-15" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="mtop-15">
  <%= link_to 'New Destination', new_destination_path, class: "btn btn-primary" %>
</div>

<h1>I Want to Go to There...</h1>

<ul class="nav nav-pills">
  <li><%= link_to "All", destinations_path %></li>
  <% @my_countries.each do |dest| %>
    <li><%= link_to dest.country, destinations_path(country: dest.country) %></li>
  <% end %>
</ul>

<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-md-4">
      <div class="panel panel-default center-it">
        <div class="panel-heading"><%= link_to "#{destination.city}, #{destination.country}", destination %></div>
        <div class="panel-body">
          <% if destination.avatar_file_name != nil %>
            <p><%= image_tag destination.avatar.url(:thumb) %></p>
          <% else %>
            <p><%= image_tag "missing-dest-image.png" %></p>
          <% end %>
          <p><%= destination.description %></p>
          <p><strong>Pop:</strong> <%= number_with_delimiter destination.population %></p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-warning" %>
          <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
  <%= link_to 'New Destination', new_destination_path, class: "btn btn-primary" %>
</p>